.not-found-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.not-found-section .subtext-1 {
  font-size: 2.6rem;
}

.not-found-section .subtext-2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
