<div class="card review-card">
  <div class="card-header">
    <span class="card-title">Payment</span>
  </div>
  <div class="card-body">
    <div class="card-body">
      <p class="p1">All transactions are secure and encrypted.</p>
      <div class="alert alert-warning">
        <div><i class="fa-solid fa-triangle-exclamation"></i></div>
        <p>
          This store can't accept real orders or real payments. <br />
          You can find more about test cards in the following stripe
          documentation
          <a class="link" href="https://stripe.com/docs/testing" target="_blank"
            >link</a
          >.
        </p>
      </div>
      <div [formGroup]="checkoutForm">
        <ng-container *ngIf="cardErrors">
          <div class="alert alert-danger">
            <div>
              <i class="fa-solid fa-xmark"></i>
            </div>
            <p>
              {{ cardErrors }}
            </p>
          </div>
        </ng-container>
        <form class="payment-form" formGroupName="paymentForm">
          <div class="nameOnCard">
            <app-text-input
              [placeholder]="'Name on card'"
              formControlName="nameOnCard"
            ></app-text-input>
          </div>
          <div class="cardNumber">
            <div #cardNumber></div>
          </div>
          <div class="cardExpiry">
            <div #cardExpiry></div>
          </div>
          <div class="cardCvc">
            <div #cardCvc></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-secondary" cdkStepperPrevious>
      <i class="fa fa-angle-left"></i> Back to Review
    </button>
    <button
      [disabled]="
        loading ||
        checkoutForm.get('paymentForm').invalid ||
        !cardNumberValid ||
        !cardExpiryValid ||
        !cardCvcValid
      "
      class="btn btn-primary"
      (click)="submitOrder()"
    >
      Submit Order
      <i *ngIf="!loading" class="fa fa-angle-right"></i>
      <i *ngIf="loading" class="fa-solid fa-spinner fa-spin"></i>
    </button>
  </div>
</div>
