.table {
  tbody {
    tr {
      &:hover {
        cursor: pointer;
        background-color: #f6f9fa;
      }

      td {
        font-size: 0.9rem;

        @media only screen and (min-width: 425px) {
          font-size: 1rem;
        }
      }
    }
  }
}
