.input-group {
  input[type="checkbox"] {
    margin-right: 0.25rem;
  }
}

.input-group-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.input-group-radio {
  input {
    margin-right: 0.5rem;
  }
}
