.table {
  border-spacing: 0;
  width: 100%;
  margin-bottom: 2rem;
  text-align: left;

  thead {
    background-color: #cfd5dd;
    color: #3b4654;
    text-align: left;

    tr {
      th {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #ddd;
      }

      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
}
